.bash_history
.bashrc
.cache/
.code-server/
.condarc
.config/
.ipython/
.jlab_bookmarks/
.jupyter/
.lesshst
.local/
.npm/
.profile
.ssh/
.viminfo

.ipynb_checkpoints/
piznet/.ipynb_checkpoints/
piznet/notebooks/.ipynb_checkpoints/
piznet/output/.ipynb_checkpoints/
ipcbrowser/.ipynb_checkpoints/
fwpc/.ipynb_checkpoints/

piznet/output/patent_data.csv
safe_backup/
training/
