.bash_history
.bashrc
.cache/
.code-server/
.condarc
.config/
.ipython/
.jlab_bookmarks/
.jupyter/
.lesshst
.local/
.npm/
.profile
.ssh/
.viminfo
piznet/.ipynb_checkpoints/
piznet/notebooks/.ipynb_checkpoints/
piznet/output/.ipynb_checkpoints/
safe_backup/
training/
piznet/output/patent_data.csv
.ipynb_checkpoints/.gitignore-checkpoint